input.radykal-error {
    background: none repeat scroll 0 0 #ffebee;
}
#fpd_color_prices tbody td {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    padding: 5px 10px 5px 5px;
	line-height: 1.3;
    margin-bottom: 9px;
   vertical-align: middle;
}
#fpd_color_prices > table thead td{padding-right:5px !important}